* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  background: lightslategray;
}

body {
  font-family: 'montseratt', sans-serif;
}

.editnone{
  position: relative;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: #FFF;
  margin: 0 auto;
  font-size: 40px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.app {
  background-image: url('https://images.unsplash.com/photo-1621717672978-5177ff1d283b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80');
  background-size: cover;
  background-position: bottom;
  transition: width 2s linear 1s;
  width: 70%;
  margin: 0 auto;
  box-shadow: 0px 1px 9px 7px rgba(0,0,0,0.61);
}

.app.none{
  background-image: url('https://images.unsplash.com/photo-1626453144148-2f1a5381734c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80');
  background-size: cover;
  background-position: bottom;
  transition: width 2s linear 1s;
  width: 70%;
  margin: 0 auto;
  box-shadow: 0px 1px 9px 7px rgba(0,0,0,0.61);
}

.app.warm {
  background-image: url('https://images.unsplash.com/photo-1601297183305-6df142704ea2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80');
  background-size: cover;
  background-position: bottom;
  transition: width 2s linear 1s;
  width: 70%;
  margin: 0 auto;
  box-shadow: 0px 1px 9px 7px rgba(0,0,0,0.61);
}

.app.haze {
  background-image: url('https://images.unsplash.com/photo-1532271786487-2b9d2dca8cb2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80');
  background-size: cover;
  background-position: bottom;
  transition: width 2s linear 1s;
  width: 70%;
  margin: 0 auto;
  box-shadow: 0px 1px 9px 7px rgba(0,0,0,0.61);
}
@media(max-width:768px){
  .app {
    width: 100%;
    background-position: left!important;
  }
  
  .app.warm {
    width: 100%;
  }

  .app.none {
    width: 100%;
  }
  
  .app.haze {
    width: 100%;
  }
  .search-box {
    width: 100%!important;
    margin-bottom: 5em !important;
    margin-top: 5em !important;
    margin: 0 auto;
  }
  .editnone{
    width: 100%!important;
  }
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

.search-box {
  width: 50%;
  margin-bottom: 5em !important;
  margin-top: 5em !important;
  margin: 0 auto;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  
  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}